<h1>Register User</h1>
<form method="POST" action="/user">
	<label>Nombre:</label>
	<input type="text" name="nombre"><br>
	<label>Correo:</label>
	<input type="email" name="correo"><br>
	<label>Contraseña:</label>
	<input type="password" name="contraseña"><br>
	<input type="submit" value="Registrar">
</form>

<script src="/js/index.js"></script>